[submodule "shells/zsh/zprezto"]
	path = shells/zsh/zprezto
	url = https://github.com/srijanshetty/prezto.git
[submodule "shells/zsh/oh-my-zsh"]
	path = shells/zsh/oh-my-zsh
	url = git@github.com:srijanshetty/oh-my-zsh.git
[submodule "shells/autojump"]
	path = shells/autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "config/vim-plug"]
	path = config/vim-plug
	url = git@github.com:srijanshetty/vim-plug.git
