config/sublime-text-3/*
^config/sublime-text-3/Packages/User/Preferences.sublime-settings
config/xmonad/history
config/xmonad/xmonad.errors
config/xmonad/xmonad.hi
config/xmonad/xmonad.o
config/xmonad/xmonad-x86_64-linux
config/beets/*
^config/beets/config.yaml

